# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb
*.cache

# ASP.NET specific
apphost.exe

# Others
*.log
*.json

# JetBrains Rider
.idea/

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
*.snupkg
*.nuspec
.project.assets.json
*.nuget.props
*.nuget.targets

# Backup files
*~ 
*.bak
/english-test-backend/.vs/english-test-backend/v17/DocumentLayout.json
